body {
  font-family: Helvetica, Arial, sans-serif;
}

.videos {
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
}

.local-video {
  z-index: 1;
  border: 1px solid white;
}

#recorded {
  border: 1px solid black;
}